<mat-dialog-actions fxLayoutAlign="end">
  <button mat-icon-button (click)="closeDialog()">
    <icon-component description="Fermer" icon="close"></icon-component>
  </button>
</mat-dialog-actions>
<div fxLayout="column" fxLayoutGap="2rem">
  <div class="title-container" mat-dialog-title fxLayout="column">
    <h1 fxLayoutAlign="center center">{{ title }}</h1>
    <h2 *ngIf="subtitle" mat-dialog-title fxLayoutAlign="center center">{{ subtitle }}</h2>
  </div>
  <mat-dialog-content fxFill fxLayoutGap="1rem" fxLayout="column">
    <ng-content></ng-content>
  </mat-dialog-content>
</div>