<div fxHide.gt-xs fxFill fxLayout fxLayoutAlign="space-around">
  <button mat-icon-button (click)="onToggleSidenav()">
    <icon-component icon="menu" [visible]="false" description="menu"></icon-component>
  </button>
  <a routerLink="">
    <image className="logo" file="logo.jpg" [visible]="true" description="Porter, simplement"></image>
  </a>
</div>
<nav fxFill fxLayout fxLayoutGap="2rem" fxLayoutAlign="center center">
  <div fxHide.xs fxLayoutAlign="flex-start">
    <nav-menu layout="row" fxFlexFill></nav-menu>
  </div>
</nav>
