<modal title="Mentions légales">
  <h2>Contenu et propriété du site</h2>
  <p>
    Le site <a href="http://www.portersimplement.com" target="_blank">http://www.portersimplement.com</a> a pour
    vocation d’informer les utilisateurs sur les formations
    professionnelles proposées par l’organisme de formation Porter, Simplement, auto-entreprise au nom de Marianne
    Corrégé.
  </p>
  <p>
    Déclaration d’activité enregistrée sous le numéro 53 29 08569 29 auprès du préfet de la région de Bretagne. – Cet
    enregistrement ne vaut pas agrément de l’Etat.
  </p>
  <p>
    Numéro enregistrement id.DD Datadock 0067314</p>
  <p>
    Le siège de la société se situe au 6 rue Honoré de Balzac, 29200 Brest.
    <br>
    Téléphone : 09 86 54 27 05 / 06 64 19 64 62
  </p>
  <p>
    SIRET : 530 559 160 00011
  </p>
  <p>
    <span class="functions">Propriétaire du site: </span>
    <span class="name">Marianne Corrégé – Porter, Simplement</span>
  </p>
  <p>
    <span class="functions">Responsable de publication: </span>
    <span class="name">Marianne Corrégé, <a href="mailto:portersimplement@gmail.com">portersimplement@gmail.com</a></span>
  </p>
  <p>
    <span class="functions">Webmaster:</span>
    <span class="name">Nour-eddine FATTOUM, <a href="mailto:kiffportage@gmail.com">kiffportage@gmail.com</a></span>
  </p>
  <p>
    La société Porter, Simplement détient la propriété exclusive et/ou les droits d’usage du site
    http://<a href="http://www.portersimplement.com" target="_blank">www.portersimplement.com</a>, du nom Porter,
    Simplement, des textes, des images et photos et autres contenus
    publiés sur ce site. Toute utilisation partielle ou totale d’une partie de ses propriétés, sans l’accord de
    l’auteur, constituera un acte de contrefaçon et sera passible de poursuites judiciaires.
  </p>
  <p>
    Toutes les informations fournies par le site <a href="http://www.portersimplement.com" target="_blank">portersimplement.com</a>
    sont données à titre indicatif et sont susceptibles d’évoluer.
  </p>
  <h2>Données personnelles:</h2>
  <p>
    En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n°
    2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
  </p>
  <p>
    A l’occasion de l’utilisation du site <a href="http://www.portersimplement.com" target="_blank">www.portersimplement.com</a>,
    peuvent êtres recueillies par WordPress : l’URL des
    liens par l’intermédiaire desquels l’utilisateur a accédé au site <a href="http://www.portersimplement.com"
          target="_blank">www.portersimplement.com</a>, le fournisseur d’accès
    de l’utilisateur, l’adresse de Protocole Internet (IP) de l’utilisateur.
  </p>
  <p>
    L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à
    leur saisie. Il est alors précisé à l’utilisateur du site <a href="http://www.portersimplement.com" target="_blank">www.portersimplement.com</a>.
    l’obligation ou non de fournir
    ces informations.
  </p>
  <p>
    Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à
    l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et
    d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une
    copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit
    être envoyée. Contact: Porter, Simplement. Mme Marianne Corrégé. 6 rue Honoré de Balzac. 29200 Brest.
  </p>
  <p>
    Aucune information personnelle de l’utilisateur du site <a href="http://www.portersimplement.com" target="_blank">www.portersimplement.com</a>
    n’est publiée à l’insu de
    l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.
  </p>
  <p>
    Le site n’est pas déclaré à la CNIL car Porter, Simplement ne recueille pas d’informations personnelles.
  </p>
  <p>
    Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9
    du 11 mars 1996 relative à la protection juridique des bases de données.
  </p>
  <p>
    Les informations recueillies sur ce site via WordPress ne font l’objet d’aucun traitement informatique destiné à la
    gestion de la clientèle autre que les réponses aux commentaires que vous laissez, soit par réponse directe via le
    site, soit par mail.
  </p>
  <h2>Informations techniques :</h2>
  <p>
    Le site a été fabriqué sous Angular, avec Angular Material comme thème.</p>
  <p>
    Le site est hébergé par OVH (SAS au capital de 10 000 000 €) - Siège social : 2 rue Kellermann – 59100 Roubaix –
    France.
  </p>
</modal>