<mat-sidenav-container class="mat-app-background" fxLayout="column">
  <mat-sidenav class="sidenav" #sidenav role="navigation">
    <menu fxFlexFill fxLayout="column" (sidenavClose)="sidenav.close()"></menu>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="2rem">
    <header>
      <mat-toolbar color="primary" fxLayout fxLayoutAlign="center centerw">
        <header-menu (sidenavToggle)="sidenav.toggle()"></header-menu>
      </mat-toolbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <mat-toolbar fxHide.xs color="primary" layout>
        <footer-menu fxFill fxLayout></footer-menu>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
