<ul [fxLayout]="layout" fxFill fxLayoutGap="2rem" fxLayoutAlign="center, center" class="navigation-items">
  <ng-container *ngFor="let menuItem of menuItems">
    <li>
      <a [routerLink]="menuItem.directory">
        <div *ngIf="menuItem.id === 1">
        <image *ngIf="!hideLogo"
                className="logo"
                file="logo.jpg"
                [visible]="true"
                [description]="menuItem.title"></image>
          <span *ngIf="hideLogo">Accueil</span>
        </div>
        <span *ngIf="menuItem.id > 1">{{ menuItem.title}}</span>

      </a>
    </li>
  </ng-container>
</ul>